[Unit]
Description=HomeInfo SEcure CONtact form
PartOf=wsgi-services.target

[Service]
User=hisecon
Group=hisecon
ExecStart=/usr/local/bin/hisecond

[Install]
WantedBy=wsgi-services.target
