[Unit]
Description=HomeInfo SEcure CONtact form
After=network.target

[Service]
User=hisecon
Group=hisecon
ExecStart=/usr/local/bin/hisecond

[Install]
WantedBy=multi-user.target
