[Unit]
Description=HomeInfo SEcure CONtact form

[Service]
User=hisecon
Group=hisecon
ExecStart=/usr/local/bin/hisecond

[Install]
WantedBy=wsgi-services.target
